@font-face {
  font-family: 'ImpactRegular';
  src: url(./fonts/impact.ttf);
}

html, body {
  margin: 0px;
}

.initial-loader {
  background: purple;
  color: white;
  margin: 0px;
  height: 100vh;
  font-family: 'Arial';
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}